.auth{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;

    h1 {
        text-align: center;
        font-size: 3rem;
        padding: 32px;
        color: #3f51b5;
        font-family: Bookman;
    }

    .login, .new-user{
        display: flex;
        flex-direction: column;
        min-width: 375px;
        align-items: center;

        >div{
            margin-top: 10px;
            width: 100%;

            p{
                text-align: center;
            }
        }

        button{
            margin-top: 15px;
            width: 100%;
        }
    }
}