.error-reporter{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-width: 1000px;
    padding-bottom: 200px;
    position: relative;

    h1{
        text-align: center;
        font-size: 3rem;
        padding: 32px;
        color: #3f51b5;
        font-family: Bookman;
    }

    >p{
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }

    .MuiPaper-root{
        display: flex;
        flex-direction: column;
        padding: 20px;

        >div{
            margin: 10px 0;
        }

        button{
            margin-bottom: 20px;
        }
    }

}