
.browsenav{
    padding-top: 5px;
    width: 100%;
    height: 100px;
    // position: fixed;
    display: flex;
    background-color:rgba(96, 96, 96, .45);
    justify-content: space-between;
    z-index: 10;
    border-bottom: 1px solid black;
}

.navlinks{
    margin-top: 35px;
    float: left;
    display: block;
    margin-left:50px;
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: Arial;
    justify-content: space-between;
}

.navlinks:hover{
    color: black;
    opacity: .8;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    
}

.coffeecup{
    margin-top: 35px;
    float: left;
    margin-left: 50px;
    text-decoration: none;
    font-size: 35px;
    font-family: Arial;
    color:white;
    display: block;
    text-align: left;
}

