
.browsenav{
    padding-top: 5px;
    width: 100%;
    height: 100px;
    min-width: 100vw;
    // position: fixed;
    display: flex;
    background-color:rgba(96, 96, 96, .85);
    justify-content: space-between;
    z-index: 10;
}

.navlinks{
    margin-top: 25px;
    float: left;
    display: block;
    margin-left:50px;
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: Bookman;
    justify-content: space-between;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.navlinks:hover{
    color: #001121;
    top: -5px;
    opacity: .8;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.coffeecup{
    margin-top: 25px;
    float: left;
    margin-left: 50px;
    text-decoration: none;
    font-size: 35px;
    font-family: Bookman;
    color:white;
    display: block;
    text-align: left;
}



.navcontact{
    margin-top: 10px;
    margin-right: 3vw;

}

.navcontact p{
    text-decoration: underline;
    color: #001121;
}


.navcontact a{
    display: grid;
    color: white;
    font-family: Bookman;
    font-size: 16px;
}

.navcontact a:hover{
    cursor: pointer;
    color: #001121;
    
}
