.review-form{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    width: 90%;
    
    &-container {
        display: flex;
        width: 70%;
        margin: auto;
        height: fit-content;
        align-items: center;
        min-width: 700px;
        padding: 20px 0;
    }

    .search-bar{
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        .fields{
            flex-grow: 1;
            display: flex;
            .MuiFormControl-root:first-of-type{
                flex-grow: 1;
                padding-right: 10px;
            }
            .MuiFormControl-root:last-of-type{
                flex-grow: 3;
                padding-right: 10px;
            }
        }
        .MuiButtonBase-root{
            height: fit-content;
        }

        .results-dropdown{
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            top: 40px;
            z-index: -1;
            opacity: 0;
            background: white;
            max-height: 500px;
            width: 90%;
            overflow: auto;
            border: 1px solid gray;
            border-radius: 10px;
            transition: opacity 0.5s;
            padding: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.336);

            li{
                border-bottom: 1px solid gray;
                padding: 5px 10px;
                list-style: none;
            }

            li:hover{
                cursor: pointer;
                background: rgb(231, 231, 231);
            }

            .searching{
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                height: 200px;
                margin-bottom: 50px;

                img{
                    height: auto;
                    width: 300px;
                    margin: auto;
                }

                h2{
                    margin: 20px 0;
                }
            }
        }

        .results-dropdown.active{
            opacity: 1;
            z-index: 2;
        }
    }

    .MuiFormControl-root{
        padding-bottom: 10px;
        padding-right: 12px;
    }

    #business{
        color: black;
    }

    #simple-select{
        min-width: 100px;
    }
}

.demographics {
    display: flex;
    justify-content: space-between;

    & > * {
        padding-left: 12px;
    }
}

.employment-fields {
    display: flex;
    justify-content: space-between;
}

.wage {
    display: flex;
    justify-content: space-between;
}

.satisfaction{
    display: flex;
    align-items: baseline;
    width: 40%;
    justify-content: space-between;
    color: #777777;
    padding: 10px 0;

    p {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 1rem;
    }

    i {
        text-align: center;
        font-size: 1.5rem;
        cursor: pointer;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.1, 1.1)
        }
    }

    i.selected {
        font-size: 2rem;
        font-weight: bold;
        color: #3E51B5;
    }
}

.review-form-container{
    .saved {
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 30px;
            padding: 20px;
        }
    }
}

.new-review {
    width: 90%;
    margin: auto;
    padding-bottom: 200px;
    
    h1 {
        text-align: center;
        font-size: 3rem;
        padding: 32px;
        color: #3f51b5;
        font-family: Bookman;
    }

    >p {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px){
    .review-form-container{
        min-width: 0;
        width: 90%;
    }

    .new-review{
        h1{
            font-size: 2.5rem;
        }
        >p{
            width: 90%;
        }
    }

    .review-form{
        flex-direction: column;

        .MuiFormControl-root {
            padding-bottom: 10px;
            padding-right: 0;
            width: 100%;

            div{
                width: 100%;
            }
        }
        .search-bar{
            flex-direction: column;
            .fields{
                width: 100%;
                flex-direction: column;
            }
            button{
                width: 100%;
            }
        }

        .employment-fields{
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .wage{
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .demographics{
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .satisfaction{
            align-self: center;
            width: 95%;
        }
    }
}