/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

body html{
    height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, body > div, .splashbg {
  height: 100%;
}


.splashbg{
    // background-image: url(https://webfilms-films.s3.amazonaws.com/coffee/lottabeans.png);
    width:100vw;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
}

.splashbox{
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 60px;
    height: 50vh;
    margin-top: calc(12.5vh - 50px);
    padding-bottom: 20px;
    min-height: 360px;
}

.title{
    margin-top: -15px;
    font-family: Bookman;
    font-weight: bold;
    font-size: 12vh;
    color: #2e436f;
    margin-left: -75px;
    width: 100%;
    position: inherit;
    z-index: 2;
    line-height: 0.8;
    padding-bottom: 10px;
    
}

.subtext{
    display: flex;
    margin-top: 10px;
    font-size: 3vh;
    margin-top: 40px;
    margin-left: 40px;
    justify-content: center;
    color: #1d1c23;
    margin-right: 50px;
    max-width: 375px;

}

.mug{
    height: 50vh;
    width: 60vw;
    display: block;
    margin-left: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.createdby{
    color:white;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: Bookman;
}

.createdby:hover{
    color:black;
}

.createdbytop{
    color:white;
    margin-top: 33px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: Bookman;
}

.createdby a{
    color:white;
}

.explore-button {
    margin-top: 20px;
    margin-left: 40px;
}

// .coffeeimage{
//    background-color: black;
//      background-image: url(https://webfilms-films.s3.amazonaws.com/coffee/lottabeans.jpg);
// }